
.barre{
  background-color: #61C791;
  height: 5px;
}
h1, h2, h3{
  color:  #ECF0F1;
}
h1{
  text-align: center;
}
#bonjourUser{
  color: #61C791;
}
form{
  margin-left: 32%;
}
body{
  background-color: #2A2F36;
  margin: 0;
  padding: 0;
}
.btn{
  background-color: #61C791;
  border-color: #61C791;
  color: #ECF0F1;
}
/*.bas{
  background-color: gray;
  height:100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-radius: 10px;
}*/
.copyright{
  text-align: center;
  margin-top: 50px;
}
.inscri{
  margin-left: 16%;
}
.form-group{
  width: 435px;
}
.form-inline div button{
  margin-top: 15px;
}

link:a{
  decoration:none;
}

.infoCompte{
  color: #ECF0F1;
}

.tableau{
  height: 100%;
  margin: 0;
}
.crealiste{
  margin-bottom: 50px;
}
.liste{
  /*width: 20%;*/
  height: 350px;
  background-color: #ECF0F1;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-top: 10px;
}
.container-fluid > .row{
  width: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}
.container-fluid > .row [class*="col-lg"]{
  float: none;
  display: inline-block;
}
.container-fluid{
  margin: 0px;
}
.bandeau{
  border: none;
  height: 100%;
  background-color: #15B154;
}
.deleteliste{
  margin-top: 80%;
  width: 30px;
}
#titreListe{
    text-align: left;
    font-weight: 600;
    margin-top: 10px;
}
